@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 5px 15px;
    background-color: #fff;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

span {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    gap: 8px;
    height: 40px;
    border: none;
    background: #1b1b1cde;
    border-radius: 20px;
    color: #ffff;
    cursor: pointer;
}

.label {
    line-height: 20px;
    font-size: 17px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-bottom: 17px;
}

.button:hover {
    background: #1b1b1c;
}

.button:hover .svg-icon {
    animation: scale 1s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05) rotate(10deg);
    }

    100% {
        transform: scale(1);
    }
}

audio {
    width: 100%;
}

.hidden {
    display: none;
}